@charset "UTF-8";


@media (min-width : 480px) {
	.footer > footer{
	    width: 768px;
    	height: 80px;
    	transition: 0.5s;
	}
	.footer > footer > p:first-child{
	margin-left : 50px; 
}
}

@media (min-width : 1024px) {
	.footer > footer{
	    width: 1024px;
    	height: 90px;
    	transition: 0.5s;
	}
	.footer > footer > p:first-child{
	margin-left : 70px; 
}
}

@media (min-width : 1280px) {
	.footer > footer{
	    width: 1280px;
    	height: 100px;
	}
	.footer > footer > p:first-child{
	margin-left : 90px; 
}
}