
@media ( width < 1024px) {
	body {
		overflow-x: hidden;
		font-size: 0.9em;
		transition: 0.5s;
		min-width: 768px;
	}
	.ul-lh>.color {
		width: 70%;
	}
	.color>ul {
		opacity:0;
		transition: 0.5s;
		font-size:0px;
	}
	.section {
		margin-left: 100px;
	}
	.log{
		margin-left:-200px;
		transition: 0.5s;
	}
}

@media ( min-width : 1024px) {
	body{
		font-size: 0.9em;
		transition: 0.5s;
		min-width: 768px;
	}
	.ul-lh>.color {
		width: 80%;
	}
	.color>ul {
		opacity:1;
		transition: 0.5s;
		margin-left: -80px;
	}
	.log{
		margin-left:-150px;
		transition: 0.5s;
	}
}

@media ( min-width : 1280px) {
	body {
		font-size: 0.9em;
		transition: 0.5s;
	}
	.ul-lh>.color {
		width: 100%;
	}
	.color>ul {
		opacity:1;
		margin-left: -80px;
		transition: 0.5s;
	}
	div>.bg-color {
		width: 100%;
	}
	.bg-color>.bg-color {
		width: 1280px;
	}
	.log{
		margin-left: -150px;
		transition: 0.5s;
	}
}

@media ( min-width : 1400px){
	.log{
		margin-left: 0px;
		transition: 0.5s;
	}
	body {
		font-size: 0.9em;
		transition: 0.5s;
	}
	.ul-lh>.color {
		width: 100%;
	}
	.color>ul {
		opacity:1;
		margin-left: -63px;
		transition: 0.5s;
	}
	div>.bg-color {
		width: 100%;
	}
	.bg-color>.bg-color {
		width: 1280px;
	}
}