.banner_2 {
	background-image: url("/resources/image/subscribe/sub-info/sub-info.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
}

.sys_1 {
	text-align: center;
	color: #B37E3E;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.sys_1 h1 {
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
}

.sys_1 p {
	margin: 0 auto;
	color: #000;
}

.sub_info {
  background-color: #fff;
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sub_info img {
  margin-bottom: 20px; /* 이미지와 아래 블럭 간격 설정 */
}

.sub_info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sub_info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sub_info .intro_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sub_info .introduce,
.sub_info .sub_fee_intro {
  width: 48%;
}

.sub_info .introduce p,
.sub_info .sub_fee_intro p {
  margin-bottom: 10px;
}

.sub_info .sub_fee_table {
  margin-top: 50px;
  /* height: 50px; */
}

.sub_info .sub_fee_table table {
  width: 100%;
  border-collapse: collapse;
}

.sub_info .sub_fee_table th,
.sub_info .sub_fee_table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.sub_info .sub_fee_table th {
  background-color: #;
}